@testing-library/user-event
axios
leaflet
react
react-dom
react-scripts
web-vitals
@babel/plugin-proposal-private-property-in-object
@testing-library/jest-dom
@testing-library/react
eslint
eslint-config-standard
eslint-plugin-import
eslint-plugin-jest
eslint-plugin-n
eslint-plugin-promise
eslint-plugin-react
jest